{% extends 'base.html.twig' %}

{% block title %}Reset password{% endblock %}

{% block body %}
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 ml-auto">
                    <div class="row pt-md-5 mt-md-3 mb-5">
                        <div class="col-sm-6 p-2">
                            <div class="card card-common">
                                <div class="card-body">
                                    <div class="text-center">
                                        <form class="form-sign-in" method="post">
                                            {% for message in app.flashes('error') %}
                                                <div class="alert alert-danger">
                                                    {{ message }}
                                                </div>
                                            {% endfor %}
                                            <h1 class="h3 mb-3 font-weight-normal">Reset password</h1>
                                            {{ form_start(formResetPassword) }}
                                            {{ form_widget(formResetPassword) }}
                                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                            <div class="mt-3 text-left" >
                                                <button class="btn btn-success text-left" type="submit">
                                                    Save
                                                </button>
                                            </div>
                                            {{ form_end(formResetPassword) }}
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}