{% extends 'base.html.twig' %}

{% block title %}{{ (app.request.attributes.get('_route')|titlePage) }}{% endblock %}

{% block body %}
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-10 col-md-7 ml-auto">
                <div class="row pt-md-5 mt-md-3 mb-5 align-items-center">
                    <div class="col-12 mb-4">
                        <div class="row">
                            <div class="col-2">
                                <a href="{{ path('crm_menu_new') }}"><button type="button" class="btn btn-success btn-sm mb-1">New menu</button></a>
                            </div>
                            <div class="col-6">
                                {% for message in app.flashes('success') %}
                                    <div class="alert alert-success created-message">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <table class="table table-striped bg-light text-center" id="menu">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Title</th>
                                    <th>Position</th>
                                    <th>Created</th>
                                    <th>Updated</th>
                                    <th>Enabled</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for menu in crmMenus %}
                                <tr id="{{ menu.id }}">
                                    <td>{{ menu.id }}</td>
                                    <td>{{ menu.title }}</td>
                                    <td>{{ menu.position }}</td>
                                    <td>{{ menu.createdAt|date('Y-m-d H:m') }}</td>
                                    <td>{{ menu.updatedAt|date('Y-m-d H:m') }}</td>
                                    <td>{{ menu.enabled ? 'Yes' : 'No' }}</td>
                                    <td>
                                        <a class="btn btn-primary" href="{{ path('crm_menu_edit', {id: menu.id}) }}">
                                            <span class="fa fa-pencil"></span>
                                        </a>
                                        <a href="{{ path('crm_menu_delete', {id: menu.id}) }}" class="btn btn-danger delete">
                                            <span class="fa fa-remove"></span>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-12">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}