{{ form_row(pageForm.menu, {

    attr: {
        'data-specific-url': path('crm_page_sub_menu'),
        class: 'js-select-form'
    }
}) }}

<div class="js-select-target">
    {% if pageForm.subMenu is defined %}
        {{ form_row(pageForm.subMenu) }}
    {% endif %}
</div>

{{ form_row(pageForm.title) }}

{{ form_row(pageForm.type, {
    attr: {
        'data-gallery-specific-url': path('crm_page_gallery'),
        class: 'js-select-form-gallery'
    }
}) }}

<div class="js-select-target-gallery">
    {% if pageForm.gallery is defined %}
        {{ form_row(pageForm.gallery) }}
    {% endif %}
</div>

<div class="page-description
    {% if pageForm.gallery is defined %}d-none{% endif %}">
    {{ form_row(pageForm.description) }}
</div>

{{ form_widget(pageForm) }}